/*Fonts*/

$font-handwrite: 'Homemade Apple', cursive;
$font-title1: 'Della Respira', serif;
$font-title2: 'Neuton', serif;
$font-body: 'Lato', sans-serif;

$font-color-black: #111;
$font-color-white: #fff;
$font-color-title: #2d3138;
$font-size: 14px;

$details-ribbon: rgba(
  $color: #000000,
  $alpha: 0.5,
);
